* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    margin: 0px;
    background-color: hsl(200deg 20% 97%);
}

header {
    position: relative;
    background-color: white;
    height: 70px;
}

#imglogo {
    width: 50px;
    position: absolute;
    left: 15px;
}

.logo {
    display: inline-block;
}

#toboo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 17px;
    left: 70px;
    margin: 0;
    font-size: xx-large;
    color: hsl(213deg 79% 11%);
}

#button1 {
    background-color: hsl(204deg 86% 61%);
    color: aliceblue;
    border-radius: 5px;
    border: solid 0px;
    width: 80px;
    height: 30px;
    position: absolute;
    top: 30%;
    left: 60px;
}

#button2 {
    border: solid 1px rgb(199, 198, 198);
    border-radius: 5px;
    height: 28px;
    width: 90px;
    background-color: white;
    color: rgb(199, 198, 198);
    position: absolute;
    top: 31%;
    left: 150px;
}

.button {
    background-color: hsl(0deg 0% 100%);
    height: 80px;
    width: 1300px;
    margin-top: 10px;
    margin-left: 150px;
    position: relative;
}

main {
    background-color: hsl(200deg 20% 97%);
    padding-top: 40px;

}

h2 {
    color: hsl(222deg 9% 29%);
}

.list {
    width: 1300px;
    background-color: white;
    margin-left: 150px;

}

#task {
    position: absolute;

    top: 40%;
}

.check {
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 3px;
}

.cross {
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 3px;
}

.listp {
    margin-left: 10px;
    color: hsl(222deg 9% 29%);
    ;
}